nav{
    width: 100%;
    display: flex;
}
nav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
nav a:hover {
    background-color: #7affa6;
    color: black;
    cursor: pointer;
}
  